In [2]:
import pandas as pd
import numpy as np
import shapefile
pd.set_option('display.max_columns', None)

In [22]:
sf_trees = pd.read_csv('../downloads/Street_Tree_List.csv')

<h3>San Francisco tree data is a bit messy. Roughly 10% of trees are missing lat/long coordinates. Will delete those.
<br>Before cleaning: 90547 entries
<br>After cleaning: 86439 entires
<br>Only 4.5% of trees got deleted, which is acceptable.
</h3>

In [23]:
sf_trees = sf_trees[np.isfinite(sf_trees['Latitude'])]
sf_trees = sf_trees[['qSpecies', 'Latitude', 'Longitude']]
sf_trees.columns = ['City', 'Latitude', 'Longitude']
sf_trees = sf_trees.reset_index()
sf_trees = sf_trees[['Latitude', 'Longitude']]
sf_trees.insert(0, 'City', 'San Francisco')
sf_trees.head()

            City   Latitude   Longitude
0  San Francisco  37.778300 -122.507268
1  San Francisco  37.752547 -122.393785
2  San Francisco  37.780364 -122.405430
3  San Francisco  37.781660 -122.438551
4  San Francisco  37.789498 -122.388450

In [5]:
sf_trees.to_csv('../data/sf_trees_raw.csv')

<h3>Seattle tree data is a bit trickier because it comes in Shapefile format. Let's remember what we did with the neighborhood files, and figure out where the tree data is located. We don't really care about species, just that there is a tree in a specific lat/long coordinate.
<br><br>There appear to be 136,549 tree records in Seattle.</h3>

In [6]:
sea = shapefile.Reader('../downloads/Trees/WGS84/Trees')

In [7]:
records = sea.records()
fields = sea.fields
shapes = sea.shapes()

In [8]:
print len(shapes)
print len(records)

136549
136549

In [9]:
shapes[0].points

[[-122.34418159899997, 47.61150370900003]]

In [12]:
# coords = []
# for shape in shapes:
#     latitude = shape.points[0][0]
#     longitude = shape.points[0][1]
#     coords.append()

shape = shapes[0]
latitude = shape.points[0][1]
longitude = shape.points[0][0]
print latitude, longitude

47.611503709 -122.344181599

In [26]:
df = pd.read_csv('../data/sea_trees_raw.csv')
df.head()

      City   Latitude   Longitude
0  Seattle  47.611504 -122.344182
1  Seattle  47.613337 -122.336425
2  Seattle  47.681762 -122.350394
3  Seattle  47.707731 -122.356800
4  Seattle  47.688085 -122.370461